.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 185px);
  width: 75vw;
  height: 75vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #faf9f6;
}
.box:hover {
  background-color: lightcyan;
}
.left {
  border-left: 5px solid black;
}
.bottom {
  border-bottom: 5px solid black;
}
.right {
  border-right: 5px solid black;
}
.form {
  display: flex;
  justify-content: space-between;
  gap: 123px;
  width: 75vw;
  margin-bottom: 10px;
}
.form-right > label {
  /* outline: 2px solid; */
  position: relative;
  left: 96px;
}
form {
  display: flex;
  flex-direction: column;
  /* outline: 2px solid; */
  width: 200px;
}
input {
  border: 2px solid lightgray;
  border-radius: 10px;
}
input:focus,
input:active {
  border: 2px solid lightblue;
  outline: none;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 25px;
  width: 150px;
}

button:hover {
  background-color: lightblue;
}

div.announcements {
  font-size: 1.3rem;
}

.hidden {
  visibility: hidden;
}

.created {
  font-size: 4rem;
}

label[for="playerTwo"] {
  color: red;
}
label[for="playerOne"] {
  color: green;
}
